<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>shopcar</title>
</head>
<body ng-app="myapp">
<div ng-controller="car">
    <div ng-show="list.length==0" class="text-center">
        购物车为空
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="search" ng-show="list.length!=0" ng-model="search">
    </div>
    <table class="table table-bordered text-center" ng-show="list.length!=0">
        <tr>
            <th class="text-center">商品名称</th>
            <th class="text-center">商品价格
                <div ng-class="{true:'dropup',false:''}[orderType]" ng-click="order('price')">  
                 <!-- ng-class="{'dropup':orderType} -->
                        <span class="caret"></span>
                </div>
            </th>
            <th class="text-center">商品数量</th>
            <th class="text-center">商品总价</th>
            <th class="text-center">操作</th>
        </tr>
        <tr ng-repeat="item in list | filter:search | orderBy:orderType+type">  <!--/*过滤器   根据 list 数据 通过search 过滤*/-->
            <td ng-bind="item.name"></td>
            <td ng-bind="item.price | currency:' ￥'"></td>
            <td>
                <form class="form-inline" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon" ng-click="dec(item.id)">-</div>
                        <input class="form-control text-center" type="text" placeholder="Enter number" ng-model="item.num">
                        <div class="input-group-addon" ng-click="add(item.id)">+</div>
                    </div>
                </div>
                </form>
            </td>
            <td ng-bind="item.num*item.price"></td>
            <td>
                <botton class="btn btn-danger" ng-click="del(item.id)">删除</botton>
            </td>
        </tr>
        <tr>
            <td>总数量</td>
            <td ng-bind="num()"></td>
            <td>总价</td>
            <td ng-bind="price()"></td>
            <td>
                <botton class="btn btn-danger" ng-click="clear()">清空购物车</botton>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
<script>
    angular.module("myapp",[])
            .controller("car",function ($scope) {
                $scope.date=new Date()
                $scope.list=[
                    {
                        id:0,
                        name:"衣服",
                        price:100,
                        num:5
                    },
                    {
                        id:1,
                        name:"鞋子",
                        price:400,
                        num:4
                    },
                    {
                        id:2,
                        name:"衬衣",
                        price:300,
                        num:5
                    },
                    {
                        id:3,
                        name:"帽子",
                        price:600,
                        num:7
                    },
                    {
                        id:4,
                        name:"袜子",
                        price:20,
                        num:100
                    },
                    {
                        id:5,
                        name:"背心",
                        price:70,
                        num:150
                    }
                ]
                $scope.num=function () {
                    var nums=0
                    for(var i=0;i<$scope.list.length;i++){
                        var num=0
                        if(parseInt($scope.list[i].num)&&parseInt($scope.list[i].num)>0){
                            num=parseInt($scope.list[i].num)
                        }else{
                            $scope.list[i].num=""
                            num=0
                        }
                        nums+=num
                    }
                    return nums
                }
                $scope.price=function () {
                    var price=0
                    angular.forEach($scope.list,function (val,index) {
                        price+=val.price*val.num
                    })
                    return price
                }
                $scope.del=function (id) {
                    for(var i=0;i<$scope.list.length;i++){
                       if(id==$scope.list[i].id){
                           $scope.list.splice(i,1)
                       }
                    }
                }
                $scope.clear=function () {
                    $scope.list=[]
                }
                $scope.dec=function (id) {
                    angular.forEach($scope.list,function (val,index) {
                        if(val.id==id){
                            val.num-=1
                        }
                    })
                }
                $scope.add=function (id) {
                    angular.forEach($scope.list,function (val,index) {
                        if(val.id==id){
                            val.num=parseInt(val.num)+1
                        }
                    })
                }
                $scope.orderType=""
                $scope.type=""
                $scope.order=function (type) {
                    $scope.type=type
                    if ($scope.orderType==""){
                        $scope.orderType="-"
                        console.log($scope.orderType)
                    }else{
                        $scope.orderType=""
                        console.log($scope.orderType)
                    }

                }

            })
</script>